*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  @apply h-screen w-screen;
}

.slideAnimation:focus ~ label, .slideAnimation:not(:placeholder-shown) ~ label{
  @apply -translate-x-1 -translate-y-9  px-2 ml-2  z-20;
}
